$color-bg: rgb(35, 47, 62);
$color-primary: rgb(205, 73, 57);

a, a:link, a:visited, a:active {
  color: $color-primary;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  color: white;
}

/****************************************************/
nav#navbar {
  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
  }

  input[type=checkbox]:checked ~ div {
    display: block;
  }

  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  a {
    color: white;
    font-weight: 100;
  }

  a:hover {
    border-bottom: 1px solid $color-primary;
  }

  div#nav-logo, div#nav-brand, div#nav-hamburger {
    display: block;
    padding: 5px;
  }

  div {
    display: none;
    padding: 10px;
  }


  img {
    filter: invert(100%);
    height: 50px;
  }

  @media (min-width: 800px) {

    justify-content: center;
    flex-direction: row;

    div {
      display: block;
      padding: 20px;
    }

    div#nav-logo, div#nav-brand, div#nav-hamburger {
      display: block;
    }

  }
}

/****************************************************/

div#header-image {
  margin: 0;
  height: 40vh;
  background-color: $color-bg;
  background-image: url("/img/schleiden.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div#logo {
  padding-top: 1vh;
  color: black;
  text-align: center;
  filter: invert(100%);

  span {
    display: inline-block;
    vertical-align: top;
    line-height: 6vh;
    margin-left: 2vh;
  }

  img {
    height: 6vh;
  }

}

div.main-message {
  padding: 10px;
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 800px;
  color: white;

  h1, p {
    font-weight: 100;
  }
}