$color-bg: rgb(35, 47, 62);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  color: white;
}

div#header-image {
  margin: 0;

  height: 60vh;
  background-color: $color-bg;
  background-image: url("/img/schleiden.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.logo {
  padding-top: 1vh;
  color: black;
  text-align: center;
  filter: invert(100%);

  span {
    display: inline-block;
    vertical-align: top;
    line-height: 6vh;
    margin-left: 2vh;
  }

  img {
    height: 6vh;
  }

}

div.main-message {
  padding: 10px;
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 800px;

  h1, p {
    font-weight: 100;
  }
}