<!doctype html>
    <html>
    <head>
        <title>Title</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="answer" content="42">

        <link rel="icon" type="image/png" href="/img/logo.png">

        <link rel="stylesheet" href="/css/style.css">

        <script type="text/javascript" src="/js/foo.js"></script>
        <script type="text/javascript" src="/js/bar.js"></script>
    </head>
    <body>
        {{ content }}
    </body>
</html>