---
layout: default
---
<nav id="navbar">
    <div class="nav-links">
        <div id="nav-logo"><img src="/img/logo.png"></div>
        <div id="nav-brand"><a href="#">Kowi Aachen e.V.</a></div>
        <div id="nav-hamburger"><a href="#">&#9776;</a></div>

        <div id="nav-element"><a href="#">Aktuelles</a></div>
        <div id="nav-element"><a href="#">Verein</a></div>
        <div id="nav-element"><a href="#">Altnasenfahrt</a></div>
        <div id="nav-element"><a href="#">Kontakt</a></div>
        <div id="nav-element"><a href="#">Impressum</a></div>
    </div>

    <div id="nav-mobile">
        <div><a href="#">Aktuelles</a></div>
        <div><a href="#">Verein</a></div>
        <div><a href="#">Altnasenfahrt</a></div>
        <div><a href="#">Kontakt</a></div>
        <div><a href="#">Impressum</a></div>
    </div>


    <div id="page-title">
        <h1>{{ page.title }}</h1>
    </div>
</nav>

<div class="container">
    {{ content }}

    <div class="row">
        <div class="one">
            <hr>
            <p>
                <a href="/impressum.html">Impressum</a>
            </p>
        </div>
    </div>
</div>
