---
layout: default
---
<nav id="navbar">


    
    <div id="nav-logo"><img src="/img/logo.png"></div>
    <div id="nav-brand"><a href="#">Kowi Aachen e.V.</a></div>

    <div id="nav-hamburger">
        <a href="#"><label for="toggle-menu">Hamburger</label></a>
    </div>
    <input type="checkbox" id="toggle-menu">

    <div><a href="#">Aktuelles</a></div>
    <div><a href="#">Verein</a></div>
    <div><a href="#">Altnasenfahrt</a></div>
    <div><a href="#">Kontakt</a></div>
    <div><a href="#">Impressum</a></div>

</nav>

<div class="container">
    <div class="row">
        <div class="one">
            {{ content }}
        </div>
    </div>
</div>
